extends ../layouts/layout

block config
    - var pageTitle = "Главная";

block content
    section.slider
    section.product
        .product__heading Наша компания производит
        .product__list
            a(href="#").product__item
                .product__item__pic
                    img(src='/img/main/shkiv.png')
                .product__item__title <span>Шкивы</span>
            a(href="#").product__item
                .product__item__pic
                    img(src='/img/main/podship.png')
                .product__item__title <span>Подшипники</span>
            a(href="#").product__item
                .product__item__pic
                    img(src='/img/main/zcep.png')
                .product__item__title <span>Цепи и звёзды</span>
            //-a(href="#").product__item
                .product__item__pic
                    img(src='/img/main/vtulki.png')
                .product__item__title <span>Втулки и ступицы</span>
            //-a(href="#").product__item
                .product__item__pic
                    img(src='/img/main/zvezdy.png')
                .product__item__title <span>Звёзды</span>
            a(href="#").product__item
                .product__item__pic
                    img(src='/img/main/rti.png')
                .product__item__title <span>РТИ</span>

    main.main
        .headline «СнабТехДеталь» – производство и поставка подшипников
        .main__content
            p Доверие заказчика – цель нашей работы!
            p Деятельность компании «Меридиан» направлена на потребительский рынок Тулы, Тульской области и различных регионов России в сегменте реализации <b>подшипников собственного производства</b>.
            p Работа <strong>сервиса компании</strong> разработана с целью предоставления максимально удобного режима с потенциальными покупателями, и имеет ряд приоритетных факторов в организации своей основной деятельности:
            ul
                li посредством консультации в индивидуальном общении, представители компании предоставят полный информационный блок по всем интересующим Вас вопросам, помогут <a href="#">купить подшипники</a> по всем заданным параметрам;
                li для постоянных клиентов работает гибкая система скидок;
                li отгрузка товара осуществляется в день заказа;
                li товар доставляется без нарушения сроков поставки собственным транспортом компании;
                li ценовая политика рассчитана на любой потребительский бюджет;
                li спектр реализуемой продукции.
            p Помимо качественных подшипников в Туле, компания «Меридиан» предлагает по доступным ценам товары следующей категории:
            p Асбестотехнические изделия, используемые как теплоизоляционный материал.
            p Резинотехнические изделия, которые широко применяются во всех отраслях промышленности.
            p Полимерная продукция, пластики, стекломатериалы. Изделия от компании «СнабТехДеталь» имеют низкую цену и широко востребованы в Туле и регионах России.

