extends ../layouts/layout

block config
    - var pageTitle = "Главная";

block content
    div.page
        .page__aside
            aside.aside
                .headline.headline-text_left Наша продукция
                .aside__menu
                    ul
                        li
                            a(href="#") Подшипники
                            ul
                                li <a href="#">Подшипники качения</a>
                                li <a href="#">Роликовые подшипники</a>
                                li <a href="#">Шариковые подшипники </a>
                                li <a href="#">Упорные подшипники</a>
                        li
                            a(href="#") Подшипники
                            ul
                                li <a href="#">Подшипники качения</a>
                                li <a href="#">Роликовые подшипники</a>
                                li <a href="#">Шариковые подшипники </a>
                                li <a href="#">Упорные подшипники</a>


        .page__main
            main.main.main-bg
                .headline.headline-text_left «СнабТехДеталь» – производство и поставка подшипников
                .main__content
                    p Доверие заказчика – цель нашей работы!
                    p Деятельность компании «Меридиан» направлена на потребительский рынок Тулы, Тульской области и различных регионов России в сегменте реализации <b>подшипников собственного производства</b>.
                    p Работа <strong>сервиса компании</strong> разработана с целью предоставления максимально удобного режима с потенциальными покупателями, и имеет ряд приоритетных факторов в организации своей основной деятельности:
                    ul
                        li посредством консультации в индивидуальном общении, представители компании предоставят полный информационный блок по всем интересующим Вас вопросам, помогут <a href="#">купить подшипники</a> по всем заданным параметрам;
                        li для постоянных клиентов работает гибкая система скидок;
                        li отгрузка товара осуществляется в день заказа;
                        li товар доставляется без нарушения сроков поставки собственным транспортом компании;
                        li ценовая политика рассчитана на любой потребительский бюджет;
                        li спектр реализуемой продукции.
                    p Помимо качественных подшипников в Туле, компания «Меридиан» предлагает по доступным ценам товары следующей категории:
                    p Асбестотехнические изделия, используемые как теплоизоляционный материал.
                    p Резинотехнические изделия, которые широко применяются во всех отраслях промышленности.
                    p Полимерная продукция, пластики, стекломатериалы. Изделия от компании «СнабТехДеталь» имеют низкую цену и широко востребованы в Туле и регионах России.
