//header
header.header
    .container
        a(href='#').header__logo СнабТехДеталь
        a(href='#').header__button Узнать цену

        .header__menu
            ul
                li <a href="#">Каталог</a>
                li <a href="#">Доставка</a>
                li <a href="#">FAQ</a>
                li <a href="#">О нас</a>

        .mobile_menu
            .mobile_menu__cross
            .mobile_menu__list
                ul
                    li <a href="#">Каталог</a>
                    li <a href="#">Доставка</a>
                        ul
                            li <a href="#">Каталог</a>
                            li <a href="#">Доставка</a>
                            li <a href="#">FAQ</a>
                            li <a href="#">О нас</a>
                    li <a href="#">FAQ</a>
                    li <a href="#">О нас</a>

        .header__info
            .header__burger
                .header__burger__icon

            .header__info__phone 8 (800) 100-1000
            .header__info__mail e-mail: info@snab-td.ru

